language: go
sudo: false
os:
  - linux
  - osx
go:
  - 1.x
  - 1.7.x
  - master
env:
  - GO_ARCH=amd64
  - GO_ARCH=386
matrix:
  exclude:
    - os: osx
      env: GO_ARCH=386
  allow_failures:
      - go: master
before_install:
  - export GOARCH=$GO_ARCH
  - export PATH=$PATH:$GOPATH/bin/$GOOS_$GOARCH/
  - go env
  - go get github.com/mattn/goveralls
script:
  - find /home/travis/gopath/bin
  - $HOME/gopath/bin/goveralls -service travis-ci
