language: go
sudo: false
os:
  - linux
  - osx
go:
  - 1.x
  - 1.7.x
  - master
env:
  - GO_ARCH=amd64
  - GO_ARCH=386
matrix:
  exclude:
    - os: osx
      env: GO_ARCH=386
  include:
    - os: linux
      env: GO_ARCH=386
      env: GO_OS=windows
  allow_failures:
      - go: master
before_install:
  - export GOARCH=$GO_ARCH
  - export GOOS=`go env GOOS`
  - export PATH=${PATH}:${GOPATH}/bin/:${GOPATH}/bin/${GOOS}_${GOARCH}/
  - go env
  - export
  - go get github.com/mattn/goveralls
script:
  - goveralls -service travis-ci
