language: go
os:
  - linux
  - osx
sudo: false
go:
  - 1.x
  - 1.7.x
  - master
env:
  - GO_ARCH=amd64
  - GO_ARCH=386
matrix:
  exclude:
    - os: osx
      env: GOARCH=386
  allow_failures:
      - go: master
before_install:
  - export GOARCH=$GO_ARCH
  - go get github.com/mattn/goveralls
script:
  - $HOME/gopath/bin/goveralls -service travis-ci
